body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px;
  background-color: #f0f8ff;
  color: #333;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

h1.center.bold {
  color: #004080;
  font-size: 32px;
  margin-bottom: 5px;
}

h1.center.italic {
  color: #008080;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 30px;
}

h2 {
  color: #006699;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-top: 30px;
}

p {
  margin: 6px 0;
  font-size: 15px;
}

.disc {
  list-style-type: disc;
  color: #000080;
}

.circle {
  list-style-type: circle;
  color: #800000;
}

.square {
  list-style-type: square;
  color: #008000;
}

.none {
  list-style-type: none;
  color: #666;
}

ul, ol {
  margin-left: 40px;
  margin-bottom: 20px;
}

dl {
  background-color: #fff8dc;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  width: fit-content;
}

dt {
  font-weight: bold;
  color: #5a009d;
  margin-top: 10px;
}

dd {
  margin-left: 20px;
  color: #333;
}

li {
  margin-bottom: 5px;
  font-size: 15px;
}
